<% @title="Captain Greed: The quest for booty | Mobile top down action game" %>
<div id="main">
	<section id="promo" class="first-block">	
		<button class="downloadButton"></button>
	</section>

	<section id="usp">	
		<header><h1>Unique Selling Points</h1></header>

		<div class="selling-point">
			<h1>Risk and reward</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				Dit is een unique selling point
			</p>
		</div>

		<div class="selling-point last">
			<h1>Fast reflexes</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				Dit is een unique selling point
			</p>
		</div>
		<div class="selling-point">
			<h1>Leaderboards</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				Do you have to get to the top of the leaderboards?
				Download the game now for free and see! 
			</p>
		</div>


	</section>
	
	<section id="features">	

	</section>
</div>