<div id="main">
	<section id="promo" class="first-block">	
		<header><h1>Captain Greed: The quest for booty</h1></header>

		<p>
			This top down action game is focussed around finding as much treasure as possible while eluding dangerous enemies to get to the top of the leader boards. Do you have the skills to reach the top of the leaderboards?
		</p>

		<div class="full"><button class="downloadButton"><span>Download Now!</span></button></div>
	</section>

	<section id="usp">	
		<header><h1>Unique Selling Points</h1></header>
		<div class="selling-point">
			<h1>Top down maze-like gameplay</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				This 
			</p>
		</div>

		<div class="selling-point">
			<h1>Risk and reward</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				Dit is een unique selling point
			</p>
		</div>

		<div class="selling-point last">
			<h1>Fast reflexes</h1>
			<img src="/img/test.jpg" alt="" width="100"/>
			<p>
				Dit is een unique selling point
			</p>
		</div>


	</section>
	
	<section id="features">	

	</section>
</div>