@mixin float($dir: left, $distance: 10px) {
  float: $dir;
  
  @if $dir == "left" {
  	margin-left: $distance;
  	} 
  @else {
	margin-right: $distance;
	}
}

@mixin fontSize($target, $context: 16px) {
	font-size: $target/$context * 1em;
}

@mixin rounded-corner($amt: 5px) {
	-webkit-border-radius: $amt;
	-moz-border-radius: $amt;
	border-radius: $amt;
}

@mixin gradient($color1: #F66D70, $color2: #C24645) {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
	background-image: -moz-linear-gradient(0% 0% 270deg, $color1, $color2);
}

@mixin box-shadow {
	box-shadow: 3px 3px 4px 0 #e0dfdf;
}

@mixin scale-image-ie($image) {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src="#{image_url($image, true, false)}",
    sizingMethod="scale"
  );
}