<header id="header">
	<h1>Captain Greed</h1>
	<nav>
		<ul>
			<li><a href="" title="">Home</a></li>
			<li><a href="" title="">About</a></li>
			<li><a href="" title="">Blog</a></li>
			<li><a href="" title="">Contact</a></li>
			<li class="clearfix"></li>
		</ul>
	</nav>
	<div class="clearfix"></div>
</header>