<header id="header">
	<h1><%= link_to "Captain Greed", pages_home_path, :class => "home-link" %></h1>
	<nav>
		<ul>
			<li><%= link_to "The Game", pages_game_path, :class => "" %></li>
			<li><%= link_to "Blog", pages_blog_path, :class => "" %></li>
			
			<li class="clearfix"></li>
		</ul>
	</nav>
	<div class="clearfix"></div>
</header>